@use 'helpers' as *;

html {
	scroll-padding-top: 100px;
}

html,
body {
	overflow-x: clip;
}

html.is-lock {
	overflow: hidden;
}

body {
	@include fluid-text(16, 14);

	display: flex;
	flex-direction: column;
	font-family: var(--font-family-base);
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-dark);
	background-color: var(--color-cotton);
}

main {
	flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--font-family-secondary);
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.2;
}

h1,
.h1 {
	@include fluid-text(120, 58);

	line-height: 1;
}

h2,
.h2 {
	@include fluid-text(60, 32);

	line-height: 1;
}

h3,
.h3 {
	@include fluid-text(50, 32);
}

h4,
.h4 {
	@include fluid-text(36, 28);
}

h5,
.h5 {
	@include fluid-text(32, 24);
}

h6,
.h6 {
	@include fluid-text(24, 16);

	font-family: var(--font-family-base);
	font-weight: 600;
	line-height: 1.4;
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;

	@include hover {
		color: var(--color-accent);
	}

	&[class] {
		text-decoration: none;
		text-underline-offset: rem(2);
	}
}

:focus-visible {
	outline: rem(2) dashed var(--color-accent);
	outline-offset: rem(4);
	transition-duration: 0s !important;
}

a,
button {
	&[aria-label] {
		position: relative;

		&::before {
			@include abs-center;
			@include square(rem(44));

			content: '';
		}
	}
}

.description {
	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	& > :is(h1, h2, h3, h4, h5, h6, ul, ol, dl) {
		margin-block: fluid(32, 24) rem(12);
	}
}

// .calendly-overlay .calendly-popup .calendly-popup-content {
// 	overflow: hidden;
// 	max-width: rem(620);
// 	width: 100%;
// 	margin: auto;
// 	background-color: var(--color-white-base);
// 	border-radius: rem(32);
// }
